/* Defaults: */
@import url(https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf);
html, body {
    width: 100%;
    height: 100vh;
    color: #dbeeff;
    background-color: #001a33;
    margin: 0;
    padding: 0;
    z-index: 0 !important;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {font-size: 275%;}
h2 {font-size: 225%;}
h3 {font-size: 175%;}
h4 {font-size: 133%;}
h5 {font-size: 115%;}
h6 {font-size: 100%;}
nav {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    z-index: 3;
}
a {
    color: #7173fe;
    transition: 0.25s;
}
a:hover {
    color: #7173fe;
    text-shadow: 0 0 2px #dbeeff;
}
header {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    background-size: cover;
    background-color: #190033;
    z-index: 100 !important;
}
header img {
  width: 30%;
  min-width: 200px !important;
  z-index: 100 !important;
  margin-top: -16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
  z-index: 100 !important;
}
.sticky + header {
  padding-top: 100px;
  z-index: 100 !important;
}
.content_body {
    margin: auto;
    min-width: 200px !important;
    font-size: 150%;
}
.content_body table {
    min-width: 200px !important;
    margin: auto;
    text-align: center;
    border-collapse: separate;
    white-space: nowrap;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid white;
}
.content_body th, .content_body td {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid white;
    background-color: #001a33;
}
.content_body tbody {
  font-size: large;
}
.content_body thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.content_body tbody th {
  position: relative;
}
.content_body thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
.content_body tbody th {
  position: sticky;
  z-index: 1;
  left: 0;
}
.content_body table tbody td {
  font-family: "Noto Colr Emoji Glyf";
  font-size: xx-large;
  line-height: 75%;
}
.red_td {
  background-color: #240000 !important;
}
.yel_td {
  background-color: #242000 !important;
}
.txt_med {
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 50%;
}
/* For mobile phones: */
#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #001a33;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #dbeeff;
}

#curMenuPage
{
  font-weight: bold;
  z-index: 1;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #7173fe;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #001a33;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #7173fe;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  z-index: 1;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


/* For tablets: */

@media only screen and (min-width: 600px) {
    h1 {font-size: 275%;}
    h2 {font-size: 225%;}
    h3 {font-size: 175%;}
    h4 {font-size: 133%;}
    h5 {font-size: 115%;}
    h6 {font-size: 100%;}
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    h1 {font-size: initial;}
    h2 {font-size: initial;}
    h3 {font-size: initial;}
    h4 {font-size: initial;}
    h5 {font-size: initial;}
    h6 {font-size: initial;}
    
}
