@font-face {
  font-family: 'Standout';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v3/jD305lv5cIyN5QGZ-yb5kA.ttf) format('truetype');
}
@font-face {
  font-family: 'Thin';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(https://fonts.gstatic.com/s/bungeehairline/v3/8Li3dr3whdkxuk7pmLaZaTZ6Y9WhilnvSkF-e4PL1VU.ttf) format('truetype');
}
@font-face {
  font-family: 'Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v3/Tb-1914q4rFpjT-F66PLCSbsRidxnYrfzLNRqJkHfFo.ttf) format('truetype');
}
@font-face {
  font-family: 'Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Outline'), local('BungeeOutline-Regular'), url(https://fonts.gstatic.com/s/bungeeoutline/v3/PcidvzXIcqS2Qwxm_iG6bLNaArye8TuzckrIYf518s0.ttf) format('truetype');
}
@font-face {
  font-family: 'Styled';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v3/HSW7pxPYXBWkq7OSnuXoeInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
.main {
	background: linear-gradient(to right, rgba(186,255,238,1) 0%,rgba(186,255,238,0.5607843137254902) 3%,rgba(186,255,238,0.5607843137254902) 97%,rgba(186,255,238,1) 100%);
}
.hidden {display: none;}
.font-Standout {font-family: 'Standout', cursive;}
.font-Thin {font-family: 'Thin', cursive;}
.font-Inline {font-family: 'Inline', cursive;}
.font-Outline {font-family: 'Outline', cursive;}
.font-Styled {font-family: 'Styled', cursive;}
.font-size-x0-1 {font-size: 0.1em;}
.font-size-x0-2 {font-size: 0.2em;}
.font-size-x0-3 {font-size: 0.3em;}
.font-size-x0-4 {font-size: 0.4em;}
.font-size-x0-5 {font-size: 0.5em;}
.font-size-x0-6 {font-size: 0.6em;}
.font-size-x0-7 {font-size: 0.7em;}
.font-size-x0-8 {font-size: 0.8em;}
.font-size-x0-9 {font-size: 0.9em;}
.font-size-x1 {font-size: 1em;}
.font-size-x1-1 {font-size: 1.1em;}
.font-size-x1-2 {font-size: 1.2em;}
.font-size-x1-3 {font-size: 1.3em;}
.font-size-x1-4 {font-size: 1.4em;}
.font-size-x1-5 {font-size: 1.5em;}
.font-size-x1-6 {font-size: 1.6em;}
.font-size-x1-7 {font-size: 1.7em;}
.font-size-x1-8 {font-size: 1.8em;}
.font-size-x1-9 {font-size: 1.9em;}
.font-size-x2 {font-size: 2em;}
.font-size-x2-1 {font-size: 2.1em;}
.font-size-x2-2 {font-size: 2.2em;}
.font-size-x2-3 {font-size: 2.3em;}
.font-size-x2-4 {font-size: 2.4em;}
.font-size-x2-5 {font-size: 2.5em;}
.font-size-x2-6 {font-size: 2.6em;}
.font-size-x2-7 {font-size: 2.7em;}
.font-size-x2-8 {font-size: 2.8em;}
.font-size-x2-9 {font-size: 2.9em;}
.font-size-x3 {font-size: 3em;}
.font-size-x3-1 {font-size: 3.1em;}
.font-size-x3-2 {font-size: 3.2em;}
.font-size-x3-3 {font-size: 3.3em;}
.font-size-x3-4 {font-size: 3.4em;}
.font-size-x3-5 {font-size: 3.5em;}
.font-size-x3-6 {font-size: 3.6em;}
.font-size-x3-7 {font-size: 3.7em;}
.font-size-x3-8 {font-size: 3.8em;}
.font-size-x3-9 {font-size: 3.9em;}
.font-size-x4 {font-size: 4em;}
.font-size-x4-1 {font-size: 4.1em;}
.font-size-x4-2 {font-size: 4.2em;}
.font-size-x4-3 {font-size: 4.3em;}
.font-size-x4-4 {font-size: 4.4em;}
.font-size-x4-5 {font-size: 4.5em;}
.font-size-x4-6 {font-size: 4.6em;}
.font-size-x4-7 {font-size: 4.7em;}
.font-size-x4-8 {font-size: 4.8em;}
.font-size-x4-9 {font-size: 4.9em;}
.font-size-x5 {font-size: 5em;}
.breadcrumb {
	background: rgba(19, 255, 163, 0.48);
}
.col-md-9.col-xs-12 {	
	background: transparent;
}
.sidebar.col-md-3.visible-xs.visible-sm.col-xs-12.visible-md.visible-lg {
	background: transparent;
}

.col-md-3.col-xs-4.center {
	background: linear-gradient(to bottom, rgba(186,255,238,0) 0%,rgba(186,255,238,0) 89%,rgba(186,255,238,1) 89.05109489051095%,rgba(186,255,238,0) 100%);
	background-size: 85.84905660377358% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.table .top, .table th {
	background-color: rgba(186,255,238,1);
	color: rgb(0,255,184);
}
.left.b {
	
}
.right_odd {
	
}
.right {
	
}
.table th {
	
}
div .left {
    background: rgba(0,198,143,0.5);
}
input[type="button"], input[type="submit"] {
	background: linear-gradient(to bottom, #00ffb8 5%,#5c8b7c 5%,#00c08b 95%,#00674a 95%);
	color: rgb(0, 255, 184);
    border: 1px solid #00674a;
    text-shadow: 1px 1px 0px rgb(0, 103, 74);
}
input[type="button"]:active,input[type="button"]:hover, input[type="submit"]:active, input[type="submit"]:hover {
	background: linear-gradient(to top, #00ffb8 5%,#5c8b7c 5%,#00c08b 95%,#00674a 95%);
	color: rgb(0, 103, 74);
    border: 1px solid #00674a;
    text-shadow: 1px 1px 0px rgb(0, 255, 184);
}
.alert-danger {
	color: #ffffff;
	background-color: rgba(255, 0, 0, 0.44);
	border-color: rgba(155, 29, 29, 0.66);
}
.alert-danger a:link, .alert-danger a:visited, .alert-danger a:active {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.alert.alert-danger input[type="button"], .alert.alert-danger input[type="submit"], input[type="submit"].bad, input[type="button"].bad {
	background: linear-gradient(to bottom, #FF0000 5%,#8B5B5B 5%,#BF0101 95%,#670000 95%);
	color: rgb(255, 0, 0);
    border: 1px solid #670000;
    text-shadow: 1px 1px 0px rgb(103, 0, 0);
}
.alert.alert-danger input[type="button"]:active, .alert.alert-danger input[type="submit"]:active, .alert.alert-danger input[type="button"]:hover, .alert.alert-danger input[type="submit"]:hover, input[type="submit"].bad:active, input[type="submit"].bad:hover, input[type="button"].bad:active, input[type="button"].bad:hover {
	background: linear-gradient(to top, #FF0000 5%,#8B5B5B 5%,#BF0101 95%,#670000 95%);
	color: rgb(103, 0, 0);
    border: 1px solid #670000;
    text-shadow: 1px 1px 0px rgb(255, 0, 0);
}
.alert-success {
    color: #004d28;
    background-color: rgba(0, 255, 68, 0.44);
    border-color: rgba(1, 125, 49, 0.64);
}
.alert-success a:link, .alert-success a:visited, .alert-success a:active {
    color: #008539;
    text-decoration: none;
    font-weight: bold;
}
.notify {
	display: inline-block;
}
.dec {
	padding: 5px;
	padding-left: 25px;
	padding-right: 20px;
	color: ;
	background: linear-gradient(to bottom, rgba(165,217,247,1) 0%,rgba(165,217,247,0) 10%,rgba(165,217,247,0) 100%), linear-gradient(to top, rgba(165,217,247,1) 0%,rgba(165,217,247,0) 10%,rgba(165,217,247,0) 100%), linear-gradient(to bottom, rgba(165,217,247,0.3) 0%,rgba(165,217,247,0.3) 1%,rgba(165,217,247,0.1) 50%,rgba(165,217,247,0.3) 99%,rgba(165,217,247,0.3) 100%);
}
.giftpoop:before, .giftpoop:after {
	position: absolute;
	z-index: 100;
	margin-top: -10px;
}
.giftpoop:before{
	content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAJTElEQVR42u2YA7A8PRbFT5LmzPTwGR/e2rZt2yitbZUW5WX5X16U1rZt23jWsJns7fPZFlIv1Wnmd89FMg/Xt2t783D5NdVsNhdakXcLDbSnZfqL4+PsXwAsrgYtvs2pK+977UPvfPjGx9yrfNkj7mGfdu/bj253w7VPNBqNpctkNS5jW5lLbnzK/OCDz7rTje+0NS2glcJBWmCY5qgqi5///b/v+/Xf//fKS6ukwWVrwY3Wlr/ywFuecrs/H87ga+A328f4+94QaV5iIr0VejcZl+X2ZJr95tJAalyGtthp3nOt377VJBMQo/A7gRtnORwUOnGA5STEtER3fdA/0e+0Hg22KxHQD4PbBZ7BKC3wv+EUeVkhCXx0Ih/rAtcLfUSBh5vMd3UShU+/0gGdg3cwyfCvwzEOZxnakQetgRt2IuTWYpyXqCqHVMZhENy9nyR3AeBf0TGobjIYJIMkvGkJLEVh+IhaRSgl6nkoBMg3CpvjHJkoGgeaSu6lRTKfNJ5fWvvbSOnDWVnOANjLNYsHg3jl5v3umxc6yRO08RZnlUXhgFFuERiNGrQhPTCK/TAtsdoK8LejGcpKntHa/XXn4Dcn9Vo39FF9/797w5f8duvg95cL4HKvdY/1Qecjd1gbrDnPV54CPIHaneaYFRabo0wANZyjmDDSrXMEnxYVpzJaoeEbxPLcIPKxP56O/rR99P7t2da7dncxvtSAnU6nd/OV7p9vuzo30M4itQ6R76GyFkei0u4kh6c1RlmOuL7uCMfPl9ZxLGwcezIIBdA3WkANkkDjvwejv/9t7/DF/9w6/CIAe4ljcK3XetLG0uDplYMa5hUhtHIoBbAjity8H2FSWvRiD6d0Qirb9DWB6mMzMLyWhB6y+iNK4d6rbWyKYRaq/n4vCoInFdb+82g8++UlzmLPmFv6YvrOOBXrDRQccsaUwkJsUDnHhLj7UhOJr9lv2A3w8JMTrLU8dENNt663fLpcK3C1edRGDzN57zgr0W3GQT9pvgSAd3EBlXQzlyQ3yp27dx1n1oEgeeUwLawoUGAsx91ZiYWGD+WAlm8IMBKlLSzHnvTIKAgjAX0tRX1/in+LgoPYx9EspyslbDYknJIL3c0sA7K8D97RiMI7QrkmtFlVxl84Tkt+eCJARoP1rZC+PS1glEIsAKPCYj8TRQRuqWEYb/IIXd0QulRUBxwNdc5RxUHsYUdAx3lRZ3rFBy4EUPmLvbffYWP5FSudpiRAzuzMSks3UsGqLsAOCopKDnOLdqC5ScisRVEnkNEIpZcE4TPoRgplwXPGoFaaybWURMz4iRg1yfL/Hh8fjy/IxepGa4tPudPGyguaUYQDkV0AWHxj34ATpblMpDErnMRNJQB0tRThCjuzCsPCSbcoLV0rIVDyPK0cv7U3K2FBRXn83zClenUlOMosjBfcZGnQewWA8DxZPBi0bnqjxbnPrfaTuLC2dhuhikrGWgmYQTf2kRYV0tLBOUUVKzi60dPAqCQ4k6KOzX+NS1Hb8nnrnFxjWCAvCYxZaVG6eh6wGaP90PcfVFmbT9PsW+cAXOomL73dxvID64WfldY5lgdZXwkYGw2Zi+45TiuCS6cSSnroa3H/maFAmFFmBcJRsVpp56TD8gWBgLWOoeEAOYK1MYkC1QjM7S3cV8ez7H9nAt5gZeH9sn1aKKxjSfAU0PA9viy1jO4J5aJ1CpFn4HmaGdkOjZxrUckCoJJUdFpQeelg8+pECoyca+54uOpA01OerrvmXEY5zCVxNJ6lbm84/cwZgGq5135tHEXd+qPaObQCj2YVdSJkJSEaArbYCFiMN8cFlAZbU55dbIZU0DdKYsqyrJyxWhymBZLQp8q1V3qxz6Pcp9GOIaJosPzxG7O8iDYPRifOTJJcpBH1OHYQyNoiR/n5oijAyW4xiNH2jajByXFSJ8ZtF1ssF63AULmBGLGUxISSscAahoMYyaTjUidAoSEUYeUUAc8N0sLBM7oJkJfNVZXdcY7xQiVKB64WCmCyiLK0/Ehe/ruoV1ogiQjAiQu+q7hxmGsG8D3DieNa3STkt5wDVfO1FiC6lsfI14SurAOFAZAVVp2jzAzT9OOSoXQpY0gILJgUhG2FHpyMJywXJfpxwJ1JR65ntvaAQsKE0lwO2RRjEytJzO+ACUGoM0FkeCawU4wqPisGjQBUGqBIusjKfx1NpqnWZMZMYJXWrGGF41uYyXhH4ApH9bjQpxYYl44TiHiMR8OxA7OV4VKrZGi4BSmg+AxofMDdjSG0XKfS07z4J4BSz3e7t55vtzescofDyewXkzyHNobWcQ5j+CGBO1M9iRNmnUzOIp1yW88aKFnt8Vl5h9AADePkYjQhSxgBU6yRWmmqGvh0PQEzeS7Py7oOOrnq/9VpPAXAB47H0/l/7xyk00Ig/ACeb1hWcsYl3UiLFV3gYDQLMqa2DgkHRxdSPYJAaXpBOOB7VLAG59K5Py34rGcM1TNKc2USe3E4TSUl8EDZOHT17u7u2I+H79YOb7PW5fvHk+N/bh+Um0cjjGp1SgZ3vRSx3CilAV1PrKiQBahEZkEgwtVGSYfxCJVVTgz26ZFJzu0VrzdEbWNqjag6xqLC/miCvaPRvyprZ8bkTUbzeIzi5I38D6NJ86PK2XW5edtDeXCSFcKjqZRv6CJuPCsHdhkTmJsJC5RcMSqB8ah6FIXgcuaApozHaS7vcKPAn6PNMOAPfN832J/kXF12Do+tHDvS511hf6pw3qZWBt0XymTPBZx4QAe+8RZPWuz3G3GkGX9Gc21tN0LWM1GF7prlpfRClPHhACocCmwc+Hxn8+CYpUUByMuSyQTnMJplleykkWb5aJKmvy8r+wPn8FNR9QsK59/MSpJ0BUIXYeW7Qt8iCsMnSPm4MYARlAsV9A3bjWhd3OMppax0JdaovKycKGhqKJkIcegTMisKjKepHEvYqiqgdVqW1fZoOvv9LM1PZFUFV1bzTuO/h8Pp1wFkl/Rnp2IHxcEgSW7stH0erFoT4L6WCRXcobV4kCd8ol6igKrdiv1UqLKy3FNQX3dwJ5CWvzfd8eQ//0EBgJvUK+y/W5JpG8YW93RK3Yd117mGUnqqNZwIeBcNbDroN7qi2FRa3xhR9JP9/f0RroKm2NnZ9Lz8eOi1Gw/t9aL1C3jn+nZ9+z9ZTyvQEmRD9AAAAABJRU5ErkJggg==');
	margin-left: -50px;
}
.giftpoop:after{
	content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAPqklEQVR42q2YA7QjTQJGb1U71hOGb6zflta2bdu2bdu2LY1t4QlxJ2nXzslK869v87Bu+Tsl+BdcWS5njdGJfDx/yp+ZmWkBPvz7HAF57eqN60vLL32akjJVPfrbFwKH+Df5p4K3vun+10/c6kHvzVTGlkWtaqs9eejE5G+//e7Oz7/0ScDjXxCuXp3NL77qtWPXP/Bhyy+50tIMndndv2rv+virnh5u/vaHgei/Frztjfe45YYHvfprWnGZ3QsVmkjIpHV0v6aOf+cTO3Z+/iWPBLZyM6R0Z6Byyyd/c/S2T7gkk0ljGQrHlCBg8tjJ+MDHX/iO6KcffwYQ/ceCd7/PczeNXXmP32bG19idVpuzD4lhY6SyJPMHmP3OO+ksnArducNP+e3U1LsBxV9xwaJFo8tvfML3R277xHVdPyLpuTi2iW3bGJaFEpL23LQ69MlnPw14y38keJvbPNFafN3dv1sZX3ld20/oNhsoBMrJE1RPUP3W60iNbUIBraO/dpsntl+xpV7fe0WhsHi+0ZipjI9Xxm/zjJ8OXP+wiV5tDkIPqemYqSx2OoXULdAkSknap/a6+z/4iPXAKW4Gjb/jwjs/8cLi6KqX0WtLt9mCKARNJ9EMat96Lfm1NyHtHELX0TMV068eu/hui0fuctXqNa8VurylseEOjxi85ePX+Ee2os0fQyJACFCKbKGA7VhIqRFECrMwaPpTh4re/h/sX27p9x6U0TO8VjXbrs0fj9y6f/ZB5++wUsW7S9PRvLk5RMcFz4PcAMGe7yWtU9vv5nXqDxq42yvvJhuTGGcFyhNXXPq4FQ5LbIM1g6PXfGHJLfG2fgcR+SgpkULDyeVwMgbtw7+jeWoXgVtn/NI7kBpZw0DiPeAR19/6vkuHRq1BQ3JoduaeL/7R9zLA28/VxfK+j3rLl0avf9Cd20e2kdSmiTsuZEvMbfv6FuCS0z/5RHrkDk/5QfH2z7o8PrGF3r6fclt/Lw9bPcHnTy/w/UV3RLg1iCJ0wyK1eIJadYoojmkf24wII9A0ok6V8fNv5Pzp33Ft2cbWdYZ0QU4TvP13W4598vCuq4AZyd+iVBz0EsAcXIo5ugKnMoi00tiLNvjf/MkntNTStbcX1SPLkkO/IEkUqlvjh9Uuu0JJLQyInRw4Beg16AVtTu38MThl3K1fwhhahb14A/bYWqzBlZze8m0MQnqJwFQJ3Vhxygu5YHRk+aCZ+2Jqvmtr/B1jhpES4xfctXXgl/jzp+nOnqQzc4jcok2jZRlds/iOz31qfnxjzus2+l2VhD18t8aO9GpOkaV9chsYKdyFY7Trp9CLi2j+7lPkTRO5/EqElABE9SmC1hTTAxewL7eCA/kV/GpujuOHtqN0g4JpLtrdbX3zHwUtvadnBh+NZmhR6NM9s7vfHdLOysrI6uVGFGrV2aMQ9tCSCIBYT2FuvDWRnUVfcjG1X3yAdhhj2yn8MzvRK8sxLr0vxAEq8ojdOt70QeLiMhKnRG7lxZQvvIEzR3cRzRxmLoi4uJRn6+TkV/5BsFJfaEtTXKDZuTVC9pcDlN8mrJ/BjULqh35J0pwBzSBqz/f/4/pJ0qNrIVMhOfZrOmcL0VSMmSpilxYjdZuoPkk0fwz3xHZap3fjRSGp4ZUsvuyW/fW12/Pp7P0x2fYkMeAjmKwu5P9BcBWYXW9+Hb3W1SLwhUpCiEP6XblwnMidoy/WnkXzXfzmGbzGFOkoxIpjGkd+iRb1sAwb5TUIG9OE7VlIQsyBxWQGxnAb82hWjlU33puF+QViJKaTJv7p+3CIEYAjBQdnZ34j+CsuymQqSyvFz14wvuSGrhJib61BN4ZQ04nDgNTQWnQ7Q9KrI0KfoNfEDQLi2MO0slgiwS5PIL06QhoIIUiMFGRHSa24GGd4JXa+TCqf4sjnX4dnFTm7W5GrjKI8l9RXnoVtmiAkI6bO5/fsupMOcGmplMsZ2uMuXbT4mXdct6FkapKqH6KnckyuuAX6+Hm4pw8Sdl38+ixxHOK5VdwoRubHyI1twKudwZrdgT25mWDlTcgoQug6qaFlaJkiuTWXkisPonSd+rHdpEZW0jy0ncrEeSRRCJM7saUEpdCloNZpe6Zm/kS/3ejo+ROl4sfuumHjxg2VCtN+0C/4RKzj3euVlAoTzO7+NcLJYyIRQY/61Ha6QYBZWXFWYAWalWI0u5K7lzv85thBpo58j45ZQOgG4tSvibwWZ/b9iLWPew8H3/UkvNYccmAZIgkRcUjgudhzRxAolFIYAqbc9p6xarUrbjk08L1XXH/dLc+0WtSjmJlI0Q1CxIPejGcWCWMNXST0Wk1oTHH8u++gMX8KZ9FFmIVxDCdNeXiMR7W3kmueIUxigiimGwYIpfoLcAK86LebqTzofbR+9XEQAq24hG5jkuy6GzDSBUrbPk66OQVSI2MabDt98nPAvfWcbXxpT61+y7RlM2ClyCDY1gpo9XRmf/dNwrmjyF6NjQ95BQd+/kEatTmwy0SxxEx8BpaeT2fvD/j+md8wYFlIAVcODzPiZClYNromOdZqMeTYNI/+FmnYSKmjaTqa1OhVJzEME605CyhQirl2EzcKDwPoCyenPlAfHb/VUC5/17RhkleK4axNLQoQQqC6DSK/w8mff5nW1HGU1DErEygFbm2e45t/yKDu4fo+bc/HjyKON1tcPDjA0myG0WyWBBhMp6jN7MPIjaPlh1Chi1UcpVmdoTAwiqkiQFGz8sgrH4r1nXfsBtB/CtFNYe+5fhjeKmvZaYEibTnEbo1k4SRSM/pRK1ESrzGHcMrkll6A0E282aP47SotpYiSGCkklq4Bil3zC5xuu6TNKsvzeabbHRK9RuqCu+Ju/jSulkWzMlilxSgFUaLorbyK9I2PxzB0dfpXXzwKoAO8aMvug2++0n51wUm9wtC0frDsHN3CxY0dLHg+JwYvJEkSdN0iUgp9YClGeQl6fgireoq4tUBhYTsC1d/SNCFo+T69MMALAzaUy5QdmwW3Tu/EVjK9KtGqixGZgX5FQ2HgXnJf8hfeHmGnSXr1WEtY+LMgwFN+tflVr7qMy66dWHnHIXeaq5uHMByLnKlRqm1jl4CiYzHn9SAKQGroheF+GI0AnCyrbYlSEMRxX3K+1yVOFLvnF3B0Hdnr4Bz4NplchYadJwk9RBTihT5mukA26KI0A6823ezMTnb+RlCAuvbo8acX0unrLx4ayl5YKeFHMZO9HnYqhdXYwaE4QBZG0EeWkwiFmS0Rqwi1YKCbaXJmQoICpfDiqJ92AJqBj6VpDGmKIUunrRIUgthrk0QBupPDHBzu/4tei8bxXc2Wanf/RhDgZwsLR9KHDr3TDaPn3G7JYmpJwqhj4cUJOV0jIwW7zBSiWEIhkLpBIAICXUc3U6QMry/Y9AJafoCuaYRxTBgn/ZaUQpAoSPwuke8SuTXiKMJwspiWjVebQZoms7/5Yrs4O+v/gyCgumHnvY4KH//z6ZnsTaMjTPV6GEKgawIhJUIlGFIRhCFKSgKvS2Q6xELHkBqhSph2XQxNogAQKAFekqCAVgLTYxeReG0SBGHHJUi3iZOE2bNJvCBDir15bQrEuQT56WzzRDZT3ze0ZPgyGRjYnRpBnNCLQqI4QjgpdF2j16oTui1aCzNEnouMXBA6DS9ACYEQkoQEhMDWNXqdLvPCwbj0Yf3gIXouSnnEUUAU+Jz84UdIqkdYnnMQQuW0UskBQp1z4DrFoxP3fPllP9v2fcrr7o1oz+JNH0aPfWqtBgNel6l9v4OwByoh8T2m3DZbAkEShyRxjJ8kdKMIgSBtpTlFQLLuVniNafyTm0lyixCpAkLTQCmoHmVARv1knbesSkfN54HWOQXjKJi2Koupt7uItksuP4HML6HXaZK0q0RRSK9VRSUxqBglJMdL58NltyX0u7jHt6FacziFIvbwKupDE3S/83FMzSQ88WsMYuK4g0ovQ7bqEHbRSFCJQgAlx0lZkdwEnD6noBBizKvPoBdGcBdOY0gd086i6TZWfpD6wlw/0YCCOAYJnjRpNFvEoU+cG8dZchEMLkcOjFHd/k207EA/8ZhIpLQIG1MYyy5HapKkOY3KLyJpHqMdRiQSLGn0AM4lKM6KFE//7HP4rgtRgB6HFEbXgKajWyk8u4wzvoH2/h8jEEgni5LQOrGNSAnSIyvpRAr/l59By5SJmqeJeiFxewGERhJ5pEVE0JpDxQFx2INchbih0AXMdNwDsaZtOafgZen0YNayLio3z9CaPEoiJK7XIqlPklt5FWHoEYgcwrRJLTmf3skd/YJDdw41vgYzO0Bvch8qCjCLo0g7R7p0IXM/+DA6IERCNmpRkorjZ3aCWQCVEHltunqaw/NzeztecBcJrXMKjuTz+TuXjcLyrMuOsQK7pydZWNhHT0ksr0YzPY6a0PpdlHgtpGERBV1UHBI350iqJxHZEczBFaCSflIWuQIp5SO9JkVNkTYMEiGQ7SmMsWECNyZszRKH/tEw8u6FzhGAcwquGipqQ7YlC1Kw3ISxkQpRHLOjWqNd3Ys/e4BozTVEQY+oPoWKQqTUsBOPbG+GoFMjX92LmMngWQUSYaCdCEi1p3EsC1szUPQhp8FsFEHoqaB25lOZWu0ROngANyvY6PqXFy1LalKgQT9dZ3TJBZUSx9wustvjyOwh0ovWo1qzhF6vHyQWGSFDcQczo2PIIqYmkcJD4PdD6+CG9XzuyFH44xqJlKR0AXP746g5/75srfY0/kbuHILrwBzJ5Z5acBwUULYMwsTiRLPFeDrF0kyaSEhOzB2E8U1YQ8shOYzUDTT/JGlb78vapkXaNEhpEpTCMUyW2gaWfqofLuhveYp6pxVH7fbzttWbbwASgH8q6IyM6G6sVgoEUgoyus6yVApDwJ5qjRWFPBVDwyotojtzEGE4GLkBVNDFNbOYRg+lFIOZDFlNogEZTWLqOr6QDDo2C2FMrBRT1YVWu+s+dnOr82lA/bvng+LSfPqG1ZXBG5YVC1ddMDiwJhFaXjcMZ2utJUq6IEGwdfxG3NGLiOpnUKFP4tZINY5ypZzvywzZNrYQpDWBKSVoOp4SnJw5w89mZpmpV9v1ducmYPP/dEYNyMsq2YmSmVodCXm5bZjXGZpcHRaWFP2JG/Sk10JLlxFJjGhPc218nGImS0rXyEpBxdARgKFpSCmZqtf4+O7dnKzOPAd4Lf8Ggv8MeYeRkVKgaYWGnlqvlLhS6ub50ilcatnZ7GUZXxvL50kQaALShklGxaDppKSgkyS8/+c/Drp+WAHa/3/BcyNWrFhhpufnnbQhr1RKLSVRDiCEJtJhFG50TGetBAchJKidwJ35N/k9/L6y/D/iTkEAAAAASUVORK5CYII=');
	margin-right: -25px;
	margin-left: 8px;
}

/* Easy Colour Classes & Styles */ 
/*@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow) /* Replace with github url to my easy colour & styles css */ */

/* Tablets and Phones */
@media (max-width: 992px) {
	.main {
		background: transparent;
	}
	.col-md-9.col-xs-12 {
		background: linear-gradient(to right, rgba(186,255,238,1) 0%,rgba(186,255,238,0.5607843137254902) 3%,rgba(186,255,238,0.5607843137254902) 97%,rgba(186,255,238,1) 100%);
	}
	.sidebar.col-md-3.visible-xs.visible-sm.col-xs-12.visible-md.visible-lg {
		background: linear-gradient(to right, rgba(186,255,238,1) 0%,rgba(186,255,238,0.5607843137254902) 3%,rgba(186,255,238,0.5607843137254902) 97%,rgba(186,255,238,1) 100%);
	}
}
